





#reports-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing:border-box;
}
:root {
	--dark-main: #1b1c19;
	--dark-secondary: #302e2a;
	--accent-main: #0370f3;
	--white: #fff;
	--accent-secondary: #faf8f7;
}